@{
    Layout = "~/Views/Shared/_Layout_Tea_Post.cshtml";
}

@using System.Data;

<section class="h-100 mt-5">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>

                @if(Model.Rows.Count > 0)
                {
                    foreach (DataRow dr in Model.Rows)
                    {
                        <div class="card rounded-3 mb-4" style="background-color: rgba(161, 255, 161, 0.2);;">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="@Url.Content(dr["FoodImage"].ToString())"
                                             class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">@dr["FoodName"]</p>
                                        <p><span class="text-muted">Weight or Size : </span>@dr["WeightOrSize"]</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex border border-2 rounded-pill p-1">
                                        <form class="d-flex" method="post" asp-controller="User" asp-action="CartUpdate">

                                            <input type="hidden" name="CartID" min="1" value="@Convert.ToInt32(dr["CartID"])" />
                                            <button class="btn btn-link @(Convert.ToInt32(dr["Quantity"]) == 1 ? "disabled" : "")" value="-1" name="Quantity">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <div class="border border-2 px-3 py-1 mx-3">@dr["Quantity"]</div>

                                            <button class="btn btn-link" value="1" name="Quantity">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0"><i class="bi bi-currency-rupee"></i>@(Convert.ToInt32(dr["Price"])*Convert.ToInt32(dr["Quantity"]))</h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <form method="post" asp-controller="User" asp-action="DeleteCart">
                                            <input type="hidden" name="CartID" value="@Convert.ToInt32(dr["CartID"])" />
                                            <button type="submit" class="btn btn-danger py-1"><i class="bi bi-trash" style="font-size: 14px"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <form method="post" asp-controller="User" asp-action="OrderDetailsFromCart">
                            <div class="card text-center" style="background-color: #eee;">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
                                </div>
                            </div>
                        </form>
                    }
                }
                else
                {
                    <div class="card rounded-3 mb-4 justify-content-between align-items-center" style="background-color: #eee;">
                        <div class="card-body p-4">
                            <div class="row justify-content-between align-items-center" style=" height: 400px;">
                                <h2 style="opacity: 0.5;">Your cart is empty !!</h2>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
