﻿@{
    Layout = "~/Views/Shared/_Layout_Tea_Post.cshtml";
}

@using TeaPost.Areas.SEC_User.Models;
@model SEC_UserModel


<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex flex-column align-items-center justify-content-center">


                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                <p class="text-center small">Enter your personal details to create account</p>
                            </div>


                            <form class="row g-3 needs-validation" asp-action="Register" asp-controller="User">

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="yourName" asp-for="FirstName" required>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="yourName" asp-for="LastName" required>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourPhone" class="form-label">Phone No</label>
                                    <input type="text" class="form-control" id="yourPhone" asp-for="PhoneNo" required>
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                    <div class="invalid-feedback">Please, enter your phone no!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourUsername" class="form-label">Username</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"></span>
                                        <input type="text" class="form-control" id="yourUsername" asp-for="UserName" required>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                        <div class="invalid-feedback">Please choose a username.</div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="yourName" asp-for="Email" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="invalid-feedback">Please, enter your email!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="yourPassword" asp-for="PassWord" required>
                                    <span asp-validation-for="PassWord" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-6">
                                    <span class="text-danger">*</span>
                                    <label for="yourBirthDate" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="yourBirthDate" asp-for="BirthDate" required>
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your birth date!</div>
                                </div>

                                <div class="col-6">
                                    <span class="text-danger">*</span>
                                    <label for="yourGender" class="form-label">Gender</label>
                                    <div class="d-flex">
                                        <label class="d-flex form-control" for="male">
                                            <input type="radio" id="male" asp-for="Gender" value="Male" checked />
                                            <span class="ms-3">Male</span>
                                        </label>
                                        <label class="d-flex form-control ms-4" for="female">
                                            <input type="radio" id="female" asp-for="Gender" value="Female" />
                                            <span class="ms-3">Female</span>
                                        </label>
                                    </div>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your gender!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourCountryID" class="form-label">Country</label>
                                    <select class="form-control" asp-for="CountryID" onchange="funcOnStateChange()" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID" , "CountryName"))">
                                        <option value="">Select Country</option>
                                    </select>
                                    <span asp-validation-for="CountryID" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your country id!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourStateID" class="form-label">State</label>
                                    <select class="form-control" onchange="FuncOnCityChange()" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList, "StateID", "StateName"))">
                                        <option value="">Select State</option>
                                    </select>
                                    <span asp-validation-for="StateID" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your state id!</div>
                                </div>

                                <div class="col-4">
                                    <span class="text-danger">*</span>
                                    <label for="yourCityID" class="form-label">City</label>
                                    <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList, "CityID", "CityName"))">
                                        <option value="">Select City</option>
                                    </select>
                                    <span asp-validation-for="CityID" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your city id!</div>
                                </div>

                                <div class="col-12">
                                    <input type="hidden" class="form-control" id="yourIsAdmin" asp-for="IsAdmin" value="false" required>
                                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your is admin!</div>
                                </div>

                                <div class="col-12">
                                    <input type="hidden" class="form-control" id="yourIsActive" asp-for="IsActive" value="true" required>
                                    <span asp-validation-for="IsActive" class="text-danger"></span>
                                    <div class="invalid-feedback">Please enter your is active!</div>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                        <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary w-25" type="submit">Create Account</button>
                                </div>
                                <div class="col-12 text-center">
                                    <p class="small mb-0">Already have an account? <a asp-action="SEC_UserLogin" asp-controller="User">Log in</a></p>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>

<script>
    function funcOnStateChange() {
        var CountryID = $("#CountryID").val();

        $("#StateID").empty();
        $("#StateID").append($("<option></option>").val("").html("Select State"));
        if (CountryID !== "") {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("StatesForComboBox", "LOC_City", new { area = "City" })" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {

                        $.each(Result, function (key, value) {

                            $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                        });
                    },
                    error: function (err) {
                        alert("Error white fetch data");
                    }
                }
            )
        }
    }

    function FuncOnCityChange() {
        var StateID = $("#StateID").val();

        $("#CityID").empty();
        $("#CityID").append($("<option></option>").val("").html("Select City"));
        if (StateID !== "") {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("LOC_CityForComboBox", "Franchise", new { area = "Franchise" })" + "?&StateID=" + StateID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {

                        $.each(Result, function (key, value) {
                            $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                        });
                    },
                    error: function (err) {
                        alert("Error white fetch data");
                    }

                }
            )
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}