@using System.Data;

@{
    Layout = "~/Views/Shared/_Layout_Tea_Post.cshtml";
}

<style>

    .card-container {
        width: 1000px;
        height: 300px;
    }

    .card-img-container {
        width: 300px;
        height: 100%;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
    }

        .card-img-container img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }

    .card-right-container {
        width: 700px;
        height: 100%;
    }

    .price-container {
        font-weight: 700;
        font-size: 20px;
        color: rgba(10, 100, 60, 0.8);
    }

    .brief-description-container {
        color: rgba(0, 0, 0, 0.8);
    }

    .button {
        background-color: #065e2c;
        padding: 8px 30px;
        color: #efefef;
        border: 2px solid #065e2c;
        border-radius: 20px;
        transition: all 0.2s linear;
    }

        .button:hover {
            background-color: #010101;
            color: #efefef;
            border: 2px solid #efefef;
        }

</style>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">BEVERAGES</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Snack</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
@foreach (DataRow dr in Model.Rows)
{
    <hr class="container" />
    <div class="card-container d-flex my-4 mx-auto">
        <div class="card-img-container">
            <img src="@Url.Content(dr["SnackImage"].ToString())" />
        </div>
        <div class="card-right-container mx-3 my-3">
            <div>
                <div class="card-body">
                    <h3 class="fw-bolder fs-2">@dr["SnackName"]</h3>
                    <p class="price-container"><i class="bi bi-currency-rupee"></i>@dr["Price"]</p>
                    <p class="brief-description-container">@dr["BriefDescription"]</p>
                    <p><span class="fw-bolder text-dark">Size : </span>@dr["Size"] Pack Combo</p>
                    <form method="post" asp-controller="User" asp-action="SnackDetails">
                        <input type="hidden" name="SnackID" value="@Convert.ToInt32(dr["SnackID"])" />
                        <input type="Submit" class="button" value="Know more" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="container"/>
}