@{
    Layout = "~/Views/Shared/_Layout_Tea_Post.cshtml";
}
@using System.Data;

<style>

    .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(10, 214, 23, 1), rgba(161, 204, 83, 1))
    }

</style>

@foreach(DataRow dr in Model.Rows)
{
    <section style="background-color: #f4f5f7; height:80vh;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                @* <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                            alt="Avatar" class="img-fluid my-5" style="width: 80px;" /> *@
                                <img src="@Url.Content(dr["ProfileImage"].ToString())" class="h-50 w-50" style="border-radius:50%"/>
                                <h5>@dr["FirstName"] @dr["LastName"]</h5>
                                <p>@dr["UserName"]</p>
                                <form method="post" asp-controller="User" asp-action="UserProfileUpdateForm">
                                    <input type="hidden" name="UserID" value="@Convert.ToInt32(dr["UserID"])"/>
                                    <button type="submit" class="btn text-light h-25"><i class="far fa-edit mb-5"></i></button>
                                </form>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">@dr["Email"]</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">@dr["PhoneNo"]</p>
                                        </div>
                                    </div>
                                    
                                    @* <hr class="mt-0 mb-4"> *@
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>City</h6>
                                            <p class="text-muted">@dr["CityName"]</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>BirthDate</h6>
                                            <p class="text-muted">@Convert.ToDateTime(dr["BirthDate"]).ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}